@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

:root {
  --font-family: "Poppins", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-family);
  }
}

@layer components {
  .box {
    @apply bg-base-300 py-3 px-5 border border-gray-300 m-2;
  }
}

@theme {
  /* Brand */
  --color-bla: #293241;
  --color-bg: #e0fbfc;
  --color-pri: #3d5a80 !important;
  --color-sec: #ee6c4d;
  --color-soft-pri: #98c1d9;
}
